# tourapi

In [9]:
## thingstoenjoy

In [1]:
import pandas as pd
tourapi = pd.read_excel('/home/hwang/projects/yanolja/data/dataset/tourAPI/thingsToEnjoy.xls')

In [2]:
tourapi['source'] = 'ToruAPI'

In [3]:
tourapi['category'] = "cultural_facilities"

In [4]:
tourapi.head(2)

,명칭,우편번호,관리자,전화번호,주소,위도,경도,개요,주최자 정보,주최자 연락처,...,관람가능연령,예매처,행사장 위치안내,부대행사,프로그램,상세정보,진행형태,축제형태,source,category
0,고양호수예술축제,10400,고양시,1577-7766,경기도 고양시 일산동구 호수로 595 (장항동),37.655337,126.768921,"""동화 같은 거리, Into the Story!"" 2024 고양호수예술축제는 일상의...",고양시,1577-7766,...,NaN,NaN,NaN,NaN,NaN,"행사소개:""동화 같은 거리, Into the Story!"" 2024 고양호수예술축제...",선택안함,선택안함,ToruAPI,cultural_facilities
1,정읍 구절초 꽃축제,56127,정읍시,063-539-5697,전북특별자치도 정읍시 산내면 청정로 926-79,35.550950,127.017941,"사진작가들이 선정한 대한민국 최고의 출사명소, 정읍 구절초 축제는 청정한 산골하천과...",정읍시,063-539-5697,...,NaN,NaN,NaN,NaN,NaN,"행사소개:사진작가들이 선정한 대한민국 최고의 출사명소, 정읍 구절초 축제는 청정한 ...",선택안함,선택안함,ToruAPI,cultural_facilities

In [5]:
tourapi.columns

Index(['명칭', '우편번호', '관리자', '전화번호', '주소', '위도', '경도', '개요', '주최자 정보',
       '주최자 연락처', '주관사 정보', '주관사 연락처', '행사시작일', '행사종료일', '공연시간', '행사장소',
       '이벤트 홈페이지', '이용요금', '할인정보', '관람소요시간', '관람가능연령', '예매처', '행사장 위치안내',
       '부대행사', '프로그램', '상세정보', '진행형태', '축제형태', 'source', 'category'],
      dtype='object')

In [6]:
tourapi.rename(columns= {'명칭': 'place_name', 
                                   '주소':'address', 
                                   '위도': 'latitude', 
                                   '경도': 'longitude', 
                                   '개요': 'description', 
                                   '우편번호': 'zip_code', 
                                   '관리자': 'manager', 
                                   '전화번호': 'phone', 
                                   '주최자 정보': 'organizer_info',
                                   '주최자 연락처': 'organizer_phone',
                                   '주관사 연락처': 'host_company_phone',
                                   '행사시작일': 'event_start_date',
                                   '행사종료일': 'event_end_date',
                                   '공연시간': 'performance_time',
                                   '행사장소': 'event_location',
                                   '이벤트 홈페이지': 'event_url',
                                   '이용요금': 'fee', 
                                   '할인정보': 'discount_info', 
                                   '관람소요시간': 'viewing_time', 
                                   '관람가능연령': 'viewing_age',
                                   '예매처': 'reservation',
                                   '행사장 위치안내': 'event_location_guide',
                                   '부대행사': 'side_event',
                                   '프로그램': 'program',
                                   '진행형태': 'progression_type',
                                   '축제형태': 'festival_type',
                                   '상세정보': 'details'}, inplace=True) 

tourapi = tourapi[['source', 'category', 'place_name', 'address', 'latitude', 'longitude', 'description', 'zip_code', 'manager', 'phone',
                   'organizer_info', 'organizer_phone', 'host_company_phone', 'event_start_date', 'event_end_date', 'performance_time',
                   'event_location', 'event_url', 'fee', 'discount_info', 'viewing_time', 'viewing_age', 'reservation', 'event_location_guide', 
                   'side_event', 'program', 'progression_type', 'festival_type', 'details']]

In [7]:
tourapi.isnull().sum() / len(tourapi)

source                  0.000000
category                0.000000
place_name              0.000000
address                 0.000634
latitude                0.000000
longitude               0.000000
description             0.000634
zip_code                0.006975
manager                 0.002536
phone                   0.007609
organizer_info          0.002536
organizer_phone         0.007609
host_company_phone      0.821814
event_start_date        0.000634
event_end_date          0.000634
performance_time        0.048827
event_location          0.014585
event_url               0.996195
fee                     0.015219
discount_info           0.996195
viewing_time            0.909956
viewing_age             0.875079
reservation             0.997464
event_location_guide    0.992391
side_event              0.997464
program                 0.998732
progression_type        0.117945
festival_type           0.120482
details                 0.002536
dtype: float64

In [8]:
tourapi.isnull().sum()

source                     0
category                   0
place_name                 0
address                    1
latitude                   0
longitude                  0
description                1
zip_code                  11
manager                    4
phone                     12
organizer_info             4
organizer_phone           12
host_company_phone      1296
event_start_date           1
event_end_date             1
performance_time          77
event_location            23
event_url               1571
fee                       24
discount_info           1571
viewing_time            1435
viewing_age             1380
reservation             1573
event_location_guide    1565
side_event              1573
program                 1575
progression_type         186
festival_type            190
details                    4
dtype: int64

In [9]:
# available_time

In [10]:
tourapi.head(2)

,source,category,place_name,address,latitude,longitude,description,zip_code,manager,phone,...,discount_info,viewing_time,viewing_age,reservation,event_location_guide,side_event,program,progression_type,festival_type,details
0,ToruAPI,cultural_facilities,고양호수예술축제,경기도 고양시 일산동구 호수로 595 (장항동),37.655337,126.768921,"""동화 같은 거리, Into the Story!"" 2024 고양호수예술축제는 일상의...",10400,고양시,1577-7766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,선택안함,선택안함,"행사소개:""동화 같은 거리, Into the Story!"" 2024 고양호수예술축제..."
1,ToruAPI,cultural_facilities,정읍 구절초 꽃축제,전북특별자치도 정읍시 산내면 청정로 926-79,35.550950,127.017941,"사진작가들이 선정한 대한민국 최고의 출사명소, 정읍 구절초 축제는 청정한 산골하천과...",56127,정읍시,063-539-5697,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,선택안함,선택안함,"행사소개:사진작가들이 선정한 대한민국 최고의 출사명소, 정읍 구절초 축제는 청정한 ..."

In [12]:
import json

# row_index 열 추가
tourapi["row_index"] = tourapi.index

# JSON 생성
output = []

for _, row in tourapi.iterrows():
    # special_conditions 필드 구성
    transformed_data = {
        "special_conditions": [
            {"type": "event_start_date", "details": row["event_start_date"]},
            {"type": "event_end_date", "details": row["event_end_date"]},
            {"type": "performance_time", "details": row["performance_time"]}
        ]
    }
    
    # JSON 객체 추가
    output.append({
        "row_index": row["row_index"],
        "transformed_data": transformed_data
    })

tourapi['available_time_v2'] = output

In [13]:
tourapi[((tourapi['latitude'] <= 33) | (tourapi['latitude'] >= 43)) & ((tourapi['longitude'] <= 124) | (tourapi['longitude'] >= 132))]

,source,category,place_name,address,latitude,longitude,description,zip_code,manager,phone,...,viewing_age,reservation,event_location_guide,side_event,program,progression_type,festival_type,details,row_index,available_time_v2
169,ToruAPI,cultural_facilities,부산환경공단과 함께하는 ‘불편한 음악회’,부산광역시 남구 이기대공원로 11 (용호동),19.694427,117.992566,부산환경공단과 함께하는 ‘불편한 음악회’는 ‘조금 불편하더라도 환경을 위해~’라는 ...,48576,부산환경공단,부산환경공단 시민소통실 051-760-3341~3,...,전 연령,NaN,NaN,NaN,NaN,선택안함,선택안함,행사소개:부산환경공단과 함께하는 ‘불편한 음악회’는 ‘조금 불편하더라도 환경을 위해...,169,"{'row_index': 169, 'transformed_data': {'speci..."
554,ToruAPI,cultural_facilities,K-팝 플레이그라운드,NaN,0.000000,0.000000,범국가적인 캠페인인 ‘2023-2024 한국방문의 해’를 맞아 K-팝 랜덤플레이댄스...,NaN,문화체육관광부,"<a href=""https://www.instagram.com/k_pop_playg...",...,전 연령,NaN,NaN,NaN,NaN,선택안함,선택안함,행사소개:범국가적인 캠페인인 ‘2023-2024 한국방문의 해’를 맞아 K-팝 랜덤...,554,"{'row_index': 554, 'transformed_data': {'speci..."
570,ToruAPI,cultural_facilities,게임 이스포츠 서울,서울특별시 동대문구 경희대로 26 (회기동),19.694427,117.992566,아시아 최고의 게임 e스포츠 페어’를 비전으로 미래 서울 경제의 핵심 성장 동력인 ...,2447,서울특별시,010-8504-5467,...,NaN,NaN,NaN,NaN,NaN,선택안함,선택안함,행사소개:아시아 최고의 게임 e스포츠 페어’를 비전으로 미래 서울 경제의 핵심 성장...,570,"{'row_index': 570, 'transformed_data': {'speci..."
1307,ToruAPI,cultural_facilities,영등포 관광세일페스타,서울시 영등포구,0.000000,0.000000,온·오프라인 음식점/관광사업체 홍보 및 소비자 할인 프로모션 제공 행사이다. 여의도...,NaN,㈜레드테이블,02-6964-7597,...,NaN,NaN,NaN,NaN,NaN,선택안함,선택안함,행사소개:온·오프라인 음식점/관광사업체 홍보 및 소비자 할인 프로모션 제공 행사이다...,1307,"{'row_index': 1307, 'transformed_data': {'spec..."

In [14]:
tourapi[((tourapi['latitude'] <= 33) | (tourapi['latitude'] >= 43)) & ((tourapi['longitude'] <= 124) | (tourapi['longitude'] >= 132))].index

Index([169, 554, 570, 1307], dtype='int64')

In [15]:
from dotenv import load_dotenv
import os
import numpy as np
import importlib
import analysis_utils as analysis_utils 
importlib.reload(analysis_utils)

from analysis_utils import get_geocode

# Load environment variables
load_dotenv()

client_id = os.getenv("naver_geocoding_client_id")
client_secret = os.getenv("naver_geocoding_client_secret")

# Iterate through specified indices
for i in [169, 554, 570, 1307]:
    query = tourapi.iloc[i]['address']
    geocode = get_geocode(query=query, client_id=client_id, client_secret=client_secret)
    
    # Handle cases where geocode might not return the expected dictionary
    if isinstance(geocode, dict) and 'latitude' in geocode and 'longitude' in geocode:
        # Assign latitude and longitude if the geocode result is valid
        tourapi.loc[i, 'latitude'] = np.float64(geocode['latitude'])
        tourapi.loc[i, 'longitude'] = np.float64(geocode['longitude'])
    else:
        # Handle invalid geocode results
        print(f"Invalid geocode result for index {i} and query '{query}': {geocode}")
        tourapi.loc[i, 'latitude'] = None
        tourapi.loc[i, 'longitude'] = None

Invalid geocode result for index 554 and query 'nan': nan

In [16]:
tourapi = tourapi.drop(index=554)
tourapi = tourapi.reset_index(drop=True)

In [17]:
tourapi[((tourapi['latitude'] <= 33) | (tourapi['latitude'] >= 43)) & ((tourapi['longitude'] <= 124) | (tourapi['longitude'] >= 132))]

Empty DataFrame
Columns: [source, category, place_name, address, latitude, longitude, description, zip_code, manager, phone, organizer_info, organizer_phone, host_company_phone, event_start_date, event_end_date, performance_time, event_location, event_url, fee, discount_info, viewing_time, viewing_age, reservation, event_location_guide, side_event, program, progression_type, festival_type, details, row_index, available_time_v2]
Index: []

[0 rows x 31 columns]

In [18]:
tourapi[tourapi['address'].isnull()]

Empty DataFrame
Columns: [source, category, place_name, address, latitude, longitude, description, zip_code, manager, phone, organizer_info, organizer_phone, host_company_phone, event_start_date, event_end_date, performance_time, event_location, event_url, fee, discount_info, viewing_time, viewing_age, reservation, event_location_guide, side_event, program, progression_type, festival_type, details, row_index, available_time_v2]
Index: []

[0 rows x 31 columns]

In [19]:
tourapi[tourapi['description'].isnull()]

,source,category,place_name,address,latitude,longitude,description,zip_code,manager,phone,...,viewing_age,reservation,event_location_guide,side_event,program,progression_type,festival_type,details,row_index,available_time_v2
1403,ToruAPI,cultural_facilities,난타,서울특별시 중구 명동길 26 (명동2가)유네스코빌딩 3층 난타 명동극장,37.563505,126.983765,NaN,4536,㈜피엠씨프러덕션,NaN,...,만 3세 이상,NaN,NaN,NaN,NaN,선택안함,선택안함,NaN,1404,"{'row_index': 1404, 'transformed_data': {'spec..."

In [20]:
tourapi[tourapi['description'].isnull()]['place_name'].tolist()

['난타']

In [21]:
tourapi.loc[tourapi['place_name']=='난타', 'description'] = "난타전용관은 한국 최초로 세워진 전용극장이다. 난타전용관에서 공연하는 ‘난타’는 한국의 전통 가락인 사물놀이 리듬을 바탕으로 하여 주방에서 일어나는 일들을 코믹하게 드라마화한 비언어극이다. 한국의 대표적인 창작 공연물인 난타는 영국 에딘버러 프린지 페스티벌 전석매진, 한국 최초 브로드웨이 장기공연 이라는 신기록을 세운 공연이다. 난타전용관은 ‘난타’만을 공연하기 위해 꾸며져 극의 재미와 효과를 극대한 조명과 무대 세트로 꾸며져 있다. 연간 38만명의외국 관광객이 난타공연장을 찾는다. 난타는 비언어극이기 때문에 국적을 불문하고 큰 호응을 얻었다. ‘명동난타극장’에서는 매일 난타 공연이 열린다. 주방의 모든 것을 활용한 타악 연주 사이사이 한국의 전통 춤과 관객 참여가 어우러져 흥겨운 축제 한 마당이 벌어진다."

In [61]:
import importlib
import analysis_utils as analysis_utils
importlib.reload(analysis_utils)

from analysis_utils import get_wikipedia_summary

tourist_spot = "난타"
summary = get_wikipedia_summary(tourist_spot)

In [62]:
summary

'《난타》(Nanta)는 대한민국의 공연이다. 송승환이 대표로 있는 PMC 프러덕션에서 창작하였고, 1997년 10월에 서울 호암아트홀에서 초연하였다. 말없이 소리와 몸짓으로만 공연을 한다는 "비언어적 표현"(Non-Verbal Performance)을 표방하면서 영국의 《스톰프》(Stomp)와 미국 블루 맨 그룹의 《튜브》(Tubes) 공연에서 아이디어를 착안하기도 하였다. 무엇보다 한국 전통 음악인 사물놀이를 현대적으로 새롭게 계승하였다는 평가를 받았다.2014년 12월 기준으로 대한민국 공연계 최초로 1,000만 관객을 달성하였으며, 2015년 8월 현재 전 세계 51개국 290개 도시에서 총 1,063만명이 난타를 관람하였다.'

In [22]:
tourapi[tourapi['description'].isnull()]

Empty DataFrame
Columns: [source, category, place_name, address, latitude, longitude, description, zip_code, manager, phone, organizer_info, organizer_phone, host_company_phone, event_start_date, event_end_date, performance_time, event_location, event_url, fee, discount_info, viewing_time, viewing_age, reservation, event_location_guide, side_event, program, progression_type, festival_type, details, row_index, available_time_v2]
Index: []

[0 rows x 31 columns]

In [36]:
import pandas as pd

parking = pd.read_excel("/home/hwang/projects/yanolja/data/dataset/etc/전국주차장정보표준데이터-20241210.xls")
parking.columns = parking.iloc[0]
parking = parking[1:].reset_index(drop=True)
parking['위도'] = pd.to_numeric(parking['위도'], errors="coerce")
parking['경도'] = pd.to_numeric(parking['경도'], errors="coerce")
parking = parking.dropna(subset=['위도', '경도'])

In [37]:
parking.head(2)

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자,제공기관코드,제공기관명
0,204-2-000023,아래숯골,공영,노외,경기도 성남시 수정구 성남대로 1259,NaN,150,1,요일제,평일+토요일+공휴일,...,신용카드,경차+장애인 차량 50프로 할인 등,성남도시개발공사 노외주차처,NaN,37.442288,127.126662,Y,2024-05-31,3780000,경기도 성남시
1,204-2-000024,태평4동,공영,노외,경기도 성남시 수정구 태평로 109,NaN,89,1,요일제,평일+토요일+공휴일,...,신용카드,경차+장애인 차량 50프로 할인 등,성남도시개발공사 노외주차처,NaN,37.451234,127.138580,Y,2024-05-31,3780000,경기도 성남시

In [38]:
import importlib
import analysis_utils as analysis_utils
importlib.reload(analysis_utils)

from analysis_utils import find_nearest_parking

nearest_parking = find_nearest_parking(poi_lat=37.610198, poi_lon=127.040989, parking_data=parking)

In [39]:
nearest_parking

'동방고개 공영 주차장'

In [23]:
tourapi.columns

Index(['source', 'category', 'place_name', 'address', 'latitude', 'longitude',
       'description', 'zip_code', 'manager', 'phone', 'organizer_info',
       'organizer_phone', 'host_company_phone', 'event_start_date',
       'event_end_date', 'performance_time', 'event_location', 'event_url',
       'fee', 'discount_info', 'viewing_time', 'viewing_age', 'reservation',
       'event_location_guide', 'side_event', 'program', 'progression_type',
       'festival_type', 'details', 'row_index', 'available_time_v2'],
      dtype='object')

In [24]:
import pandas as pd
import numpy as np

def combine_columns(row):
    additional_info = []

    # organizer_info 추가
    if pd.notna(row['organizer_info']):
        additional_info.append(f"주최자 정보: {row['organizer_info']}")
    
    # organizer_phone 추가
    if pd.notna(row['organizer_phone']):
        additional_info.append(f"주최자 연락처: {row['organizer_phone']}")
    
    # event_location 추가
    if pd.notna(row['event_location']):
        additional_info.append(f"행사장소: {row['event_location']}")
    
    # fee 추가
    if pd.notna(row['fee']):
        additional_info.append(f"이용요금: {row['fee']}")

    # progression_type 추가
    if pd.notna(row['progression_type']):
        additional_info.append(f"진행방식: {row['progression_type']}")

    # festival_type 추가
    if pd.notna(row['festival_type']):
        additional_info.append(f"행사종류: {row['festival_type']}")
    
    details = row['details'] if pd.notna(row['details']) else ""
    
    combined_details = details + ('\n' if details and additional_info else '') + '\n'.join(additional_info)
    return combined_details

tourapi['details'] = tourapi.apply(combine_columns, axis=1)

tourapi = tourapi.drop(columns=['organizer_info', 'organizer_phone', 'event_location', 'fee', 'progression_type',
                                'festival_type'])

In [26]:
tourapi['source'] = 'tourAPI'
tourapi['category'] = 'things_to_enjoy'

In [28]:
import numpy as np

tourapi['available_time'] = np.nan
tourapi['parking'] = np.nan

In [29]:
tourapi = tourapi[['source', 'category', 'place_name', 'address', 'latitude', 'longitude', 'available_time', 'available_time_v2', 'parking', 'description', 'details']]

In [30]:
tourapi.head(2)

,source,category,place_name,address,latitude,longitude,available_time,available_time_v2,parking,description,details
0,tourAPI,things_to_enjoy,고양호수예술축제,경기도 고양시 일산동구 호수로 595 (장항동),37.655337,126.768921,NaN,"{'row_index': 0, 'transformed_data': {'special...",NaN,"""동화 같은 거리, Into the Story!"" 2024 고양호수예술축제는 일상의...","행사소개:""동화 같은 거리, Into the Story!"" 2024 고양호수예술축제..."
1,tourAPI,things_to_enjoy,정읍 구절초 꽃축제,전북특별자치도 정읍시 산내면 청정로 926-79,35.550950,127.017941,NaN,"{'row_index': 1, 'transformed_data': {'special...",NaN,"사진작가들이 선정한 대한민국 최고의 출사명소, 정읍 구절초 축제는 청정한 산골하천과...","행사소개:사진작가들이 선정한 대한민국 최고의 출사명소, 정읍 구절초 축제는 청정한 ..."